
.table-with-collapsed-borders {
    border-collapse: collapse;
}

.table-with-collapsed-borders.gray tr td {
    border: solid 1px gray;
}

.table-with-collapsed-borders.lightgray tr td {
    border: solid 1px lightgray;
}